<div class="tabs-layout">
    <div class="tab-header">
        <ul class="tab-head-list">
            <li>Shipping</li>
            <li class="selected">Discount</li>
        </ul>
    </div>
    <div class="tab-content">
        <label>
            <select name="quantity">
                <option>Buy 1 item</option>
                <option>Buy 2 items</option>
            </select>
        </label>
        <table>
            <tr>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Buy 1 item</td>
                <td>$10</td>
            </tr>
        </table>
    </div>
    <script>
        
    </script>
</div>