.tabs-layout {
    max-width: 100%;
    font-family: Arial, serif;
    overflow: hidden;
}

.tabs-layout .tab-head-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
}

.tabs-layout .tab-head-list li {
    width: 50%;
    margin: 0;
    display: inline-block;
    padding: 5px 32px;
    border: 2px solid transparent;
    border-bottom: 2px solid #025BBF;
    color: #025BBF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.tabs-layout .tab-head-list li:hover {
    color: white;
    background-color: #94D8F6;
}

.tabs-layout .tab-head-list li.selected {
    cursor: not-allowed;
    color: white;
    background-color: #025BBF !important;
}

.tabs-layout .tab-head-list li.selected:hover {
    background-color: #94D8F6;
}

.tabs-layout .tab-content select {
    color: #025BBF;
    border-radius: 5px;
    border: 1px solid #025BBF;
}

.tabs-layout .tab-content table, .tabs-layout .tab-content th, .tabs-layout .tab-content td {
    color: #025BBF;
    border: 1px solid #025BBF;
    border-collapse: collapse;
}

.tabs-layout .tab-content table {
    display: table;
    margin-top: 10px;
    width: 100%;
}

.tabs-layout .tab-content th, .tab-content td {
    width: 50%;
    font-size: 12px;
    text-align: center;
}

.tabs-layout .tab-content th {
    padding: 2px;
}

.tabs-layout .tab-content td {
    padding: 7px 2px;
    font-weight: 600;
}

/* Shipping tab */
.shipping-render .shipping-chain {
    position: relative;
    display: flex;
    list-style-type: none
}

.shipping-render .shipping-chain .chain-node {
    color: white;
    width: 42px;
    height: 34px;
    padding: 8px;
    border-radius: 50%;
    background-color: #025BBF;
    box-sizing: border-box;
}

.shipping-render .shipping-chain .chain-line {
    width: 100%;
    position: relative;

}

.shipping-render .shipping-chain .chain-line hr {
    z-index: -1;
    width: 100%;
    top: 20%;
    height: 1px;
    background-color: #025BBF;
    position: absolute;
}